.a {
    background-color: rgba(172, 89, 225, 0.5);
    background: url("image/0.png");
    background-size: cover;
}

.b {
    text-align: center;
    /* color:#55aadd;*/
    /*color: #00ffff;*/
    /*  background-color:rgba(110,99,125,0.7);*/
    color: #0b32ccb6;
    border-radius: 15px;
    background-size: cover;
    font-size: 300%;
}

.c {
    background-color: rgba(3, 4, 11, 0.5);
}

.d {
    text-align: center;
    color: rgba(177, 23, 172, 0.9);
    font-size: 35px;
    background-color: rgba(70, 100, 160, 0.8);
    display: block;
    padding: 75% 50%;
}

ul {
    list-style: none;
    background: #00007783;
    text-align: center;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    /* background: #00007783;*/
    display: block;
    padding: 20px 45px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

li a:active {
    background-color: aqua;
    color: blue;
}

li a:hover {
    background-color: aquamarine;
    color: cornflowerblue;
}