* {
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
    background:#000077;
    text-align: center;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    background: #000077;
    display: block;
    padding: 20px 45px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    text-align:center;
}

